CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
grpc/build/*
grpc/service.grpc.pb.cc
grpc/service.grpc.pb.h
grpc/service.pb.cc
grpc/service.pb.h
certs/
.DS_Store
